<form>
    <label class="field">
        <input type="text" name="name" placeholder="Name">
    </label>

    <label class="field">
        <textarea name="description" placeholder="Description"></textarea>
    </label>

    <label class="field">
        <input type="datetime-local" name="startTime">
    </label>
    <label class="field">
        <input type="datetime-local" name="endTime">
    </label>

    <div class="field">
        <input type="text" name="place" placeholder="Place">
    </div>

    <button type="submit"><i class="fa-solid fa-floppy-disk"></i></button>
</form>

<p>Created At: 2024/11/02 08:30:20, Updated At: 2024/11/02 08:30:20</p>