<form [formGroup]="planForm" (ngSubmit)="save()">
    <label class="field">
        <input type="text" name="name" placeholder="Name" formControlName="name">
    </label>

    <label class="field">
        <textarea name="description" placeholder="Description" formControlName="description"></textarea>
    </label>

    <label class="field">
        <input type="datetime-local" name="startTime" formControlName="startTime" [max]="planForm.value.endTime">
    </label>
    <label class="field">
        <input type="datetime-local" name="endTime" formControlName="endTime" [min]="planForm.value.startTime">
    </label>

    <div class="field">
        <input type="text" name="place" placeholder="Place" formControlName="placeId">
    </div>

    <button type="submit"><i class="fa-solid fa-floppy-disk"></i></button>
</form>

<small>Created At: {{plan.createdAt | date: 'yyyy/MM/dd HH:mm:ss'}}, Updated At: {{plan.updatedAt | date: 'yyyy/MM/dd HH:mm:ss'}}</small>