@import "@fortawesome/fontawesome-free/css/all.min.css";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.capitalize {
    text-transform: capitalize;
}

/*
 * Form
 */
form .field {
    width: 100%;
}

form .field .mdc-text-field__input::-webkit-calendar-picker-indicator {
    display: block !important;
}

textarea {
    resize: vertical;
}