@import "@fortawesome/fontawesome-free/css/all.min.css";

.field {
    display: block;
    margin-bottom: 1em;
}

.field input,
.field textarea {
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 8px;
}

textarea {
    resize: vertical;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.capitalize {
    text-transform: capitalize;
}