<form [formGroup]="foodForm" (ngSubmit)="save()">
    <mat-form-field class="field">
        <mat-label>Name</mat-label>
        <input matInput name="name" formControlName="name">
    </mat-form-field>

    <mat-form-field class="field">
        <mat-label>Note</mat-label>
        <textarea matInput name="note" formControlName="note"></textarea>
    </mat-form-field>

    <m-tag-box controlName="preparer" [dataSource]="participantNames()"></m-tag-box>

    <mat-form-field class="field">
        <mat-label>Price</mat-label>
        <input matInput type="number" name="price" formControlName="price">
    </mat-form-field>

    <mat-form-field class="field">
        <mat-label>Count</mat-label>
        <input matInput type="number" name="count" formControlName="count">
    </mat-form-field>

    <button mat-flat-button type="submit"><i class="fa-solid fa-floppy-disk"></i></button>
</form>