.edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.updateAt {
    display: inline-block;
    color: grey;
    font-size: .75em;
}

.list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    display: inline-block;
    color: #ff5722;
    text-decoration: none;
}

.content {
    flex-grow: 1;
}

.prepare {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.basket {
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-content: end;
    border-radius: 1em;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #333;
    text-align: center;
}

.basket .icon {
    position: absolute;
    top: .5em;
    left: 50%;
    transform: translateX(-50%);
}

.progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: .75em;
    color: grey;
}

.progress-bar {
    width: 100%;
    background-color: #ffcc80;
    margin-top: auto;
}

.avatar-container {
    margin-top: .5em;
}

.avatar-slide {
    width: 100%;
    max-width: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-avatar {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
    background: #FFCC80;
    border: 1px solid #ff5722;
}

.avatar-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}