@if(plan) {
<section>
    <div class="card info">
        <h2>{{plan.name}}</h2>
        <p>{{plan.description}}</p>

        <p>
            <span class="icon"><i class="fa-regular fa-calendar"></i></span> {{plan.startTime | date: 'yyyy/MM/dd HH:mm'}} - {{plan.endTime| date: 'yyyy/MM/dd HH:mm'}}
        </p>
        <p>
            <span class="icon"><i class="fa-solid fa-location-dot"></i></span> Daan park
        </p>

        <p class="edit">
            <a class="icon" routerLink="/plan-edit" [queryParams]="{ id: plan.id }" matTooltip="Edit"><i class="fa-solid fa-pencil"></i></a>
            <span class="updateAt">Updated At {{plan.updatedAt | date: 'yyyy/MM/dd HH:mm:ss'}}</span>
        </p>
    </div>

    <div class="card">
        <div class="list-item">
            <div class="content">
                <a class="icon" [routerLink]="['/plan-user', plan.id]" matTooltip="Guest"><i class="fa-solid fa-user"></i>(10)</a>
                <swiper-container class="avatar-container" space-between="16" slides-per-view="auto">
                    <swiper-slide class="avatar-slide">
                        <div class="circle-avatar">
                            <img class="avatar-image" src="https://picsum.photos/300/200/?random=8">
                        </div>
                    </swiper-slide>
                    <swiper-slide class="avatar-slide">
                        <div class="circle-avatar">
                            <img class="avatar-image" src="https://picsum.photos/300/200/?random=9">
                        </div>
                    </swiper-slide>
                    <swiper-slide class="avatar-slide">
                        <div class="circle-avatar">
                            <img class="avatar-image" src="https://picsum.photos/300/200/?random=9">
                        </div>
                    </swiper-slide>
                    <swiper-slide class="avatar-slide">
                        <div class="circle-avatar">
                            <img class="avatar-image" src="https://picsum.photos/300/200/?random=9">
                        </div>
                    </swiper-slide>
                    <swiper-slide class="avatar-slide">
                        <div class="circle-avatar">
                            <img class="avatar-image" src="https://picsum.photos/300/200/?random=9">
                        </div>
                    </swiper-slide>
                    <swiper-slide class="avatar-slide">
                        <div class="circle-avatar">
                            <img class="avatar-image" src="https://picsum.photos/300/200/?random=9">
                        </div>
                    </swiper-slide>
                    <swiper-slide class="avatar-slide">
                        <div class="circle-avatar">
                            <img class="avatar-image" src="https://picsum.photos/300/200/?random=9">
                        </div>
                    </swiper-slide>
                    <swiper-slide class="avatar-slide">
                        <div class="circle-avatar">
                            <img class="avatar-image" src="https://picsum.photos/300/200/?random=9">
                        </div>
                    </swiper-slide>
                    <swiper-slide class="avatar-slide">
                        <div class="circle-avatar">
                            <img class="avatar-image" src="https://picsum.photos/300/200/?random=9">
                        </div>
                    </swiper-slide>
                </swiper-container>
            </div>
        </div>
    </div>

    <div class="prepare">
        <a class="basket" [routerLink]="['/plan-food', plan.id]" matTooltip="Food">
            <span class="icon"><i class="fa-solid fa-pizza-slice"></i></span>
            <span class="progress-text">5 / 10</span>
            <div class="progress-bar" style="height: 50%"></div>
        </a>

        <a class="basket" [routerLink]="['/plan-tool', plan.id]" matTooltip="Tool">
            <div class="basket-content">
                <span class="icon"><i class="fa-solid fa-basket-shopping"></i></span>
                <span class="progress-text">3 / 10</span>
            </div>
            <div class="progress-bar" style="height: 30%"></div>
        </a>

        <a class="basket" [routerLink]="['/plan-tool', plan.id]" matTooltip="Activity">
            <div class="basket-content">
                <span class="icon"><i class="fa-solid fa-masks-theater"></i></span>
                <span class="progress-text">10 / 10</span>
            </div>
            <div class="progress-bar" style="height: 100%"></div>
        </a>
    </div>
</section>
}