.time {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.time .split {
    margin: auto .5em;
}

.time>.field {
    width: 0;
    flex: 1;
    margin: 0;
}

.card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1em;
    margin-bottom: 1em;
}

.list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leading {
    margin-right: 1em;
}

.icon {
    font-size: 24px;
    color: #ff5722;
}

.content {
    flex-grow: 1;
}

.title {
    font-size: 18px;
    margin: 0;
    color: #333;
}

.progress-container {
    position: relative;
    margin-top: .5em;
}

.progress-bar-bg {
    width: 100%;
    background-color: #ffcc80;
    border-radius: 12px;
    height: 16px;
}

.progress-bar {
    height: 100%;
    background-color: #ff5722;
    border-radius: 12px;
}

.progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: #333;
}

.trailing .icon {
    font-size: 16px;
    color: #777;
}

.avatar-container {
    margin-top: .5em;
}

.avatar-slide {
    width: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-avatar {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
    background: #FFCC80;
}

.avatar-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}